<p>Subs go here</p>


<% subscriptions.each do |s| %>

<div>
<img src=  <%=s.snippet.thumbnails['default']['url']%> />
<a href='https://www.youtube.com/channel/'<%= s.id %>> <%= s.snippet.title %><a>
</div>

<br />
<% end %>
